/* Contact.css */
form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

form button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #2c2c54;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #3d3d6b;
}

.contact {
    font-size: 40px;
    text-align: center;
}

.formTitle {
    font-size: 20px;
}
