/* Portfolio.css */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    gap: 1rem;
}

.portfolio-item {
    background-color: rgb(155, 160, 179);
    padding: 1rem;
    border: 3px solid #ddd;
    text-align: center;
}

.portfolio-item img {
    max-width: 90%;
}

.portfolio-item h3 {
    margin: 0.5rem 0;
}

.pTitle{
    text-align: center;
    font-size: 45px;
}